/*
.Big-Machine-1-hex { color: #BD2A2E; }
.Big-Machine-2-hex { color: #3B3936; }
.Big-Machine-3-hex { color: #B2BEBF; }
.Big-Machine-4-hex { color: #889C9B; }
.Big-Machine-5-hex { color: #486966; } 
*/

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

/* Atributos Generales */

body{
    font-family: "Chakra Petch", sans-serif;
    background-color: #202020;
    color: white;
}

h1{
    font-weight: 700;
    font-size: 80px;
}

h2{
    font-size: 36px;
    color: #889C9B;
    margin-bottom: 50px;
}

h3{
    color: #202020;
}

section{
    border-bottom: 2px solid #BD2A2E;
    padding: 50px 240px 30px 240px;
}


a{
    text-decoration: none;
    color: inherit
}


/* HEAD */

header{
    height: calc(100vh - 85px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h3{
    font-weight: 400;
    font-size: 40px;
    color: #B2BEBF; 
    margin-bottom: 30px;
}

header span{
    color: #BD2A2E;
}

nav{
    width: 100%;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #202020;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex-direction: row;
}

nav ul li{
    font-weight: 400;
    font-size: 25px;
    padding: 25px 35px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

nav ul li:hover{
    color: #BD2A2E;
    border-bottom: 2px solid #BD2A2E;
}


/* SOBRE MI */
#sobre_mi h2{
    color: #889C9B;
}

#sobre_mi{
    display: grid;
    grid-template-columns: 250px 1fr;
    row-gap: 30px;
    column-gap: 60px;
}

#sobre_mi img{
    grid-column: 1/2;
    grid-row: 1/3;
}

#sobre_mi .presentacion{
    grid-row: 2/5;
}

#sobre_mi button{
    font-family: inherit;
    background-color: #BD2A2E;
    color: #202020;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    grid-row: 3/4;
    padding: 10px;
}

/* Conocimientos */

#conocimientos{
    text-align: center;
}

.lista-skills{
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.skill-card{
    font-size: 30px;
    align-items: center;
    padding: 15px;
    display: grid;
    gap: 15px;
    grid-template-columns: auto 1fr 200px;
    color: #202020;
    background-color: #B2BEBF;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 500px;
}

.skill-card:hover{
    background-color: white;
}

.skill-card h3{
    margin-left: 30px;
}

.skill-icon{
    justify-self: start;
}

.skill-progress{
    line-height: 74px;
    justify-self: end;   
    height: 80px;
    width: 80px;
    background-color: #202020;
    color: white;
    border: 3px solid #BD2A2E;
    border-radius: 50%;
}


/* PROYECTOS */

#proyectos{
    padding-bottom: 90px;
    background-color: #BD2A2E;
    text-align: center;
}

#proyectos h2{
    color: #202020;
}

.lista-proyectos{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
}

.project-card{
    border-radius: 20px;
    width: 400px;
    background-color: #202020;
    -webkit-box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.58);
    box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.58);
}

.project-card img{
    width: 100%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.project-card h3{
    color:  #BD2A2E;
    margin: 20px 10px 0px 10px;
}

.project-card p{
    text-align: left;
    color: #889C9B;
    margin: 10px 10px;
}

.project-card .button{
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    color: #BD2A2E;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
}

.project-card .button:hover{
    color: #202020;
    background-color: #BD2A2E;
}

iframe{
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    width: 100%;
    height: 46.6%;
}

/* SECcION DE CONTACTO */

#contact{
    background-color: #B2BEBF;
    text-align: center;
}

#contact h2{
    color: #202020;
}

textarea{
    resize: none;
}

.campos{
    font-weight: 500;
    color: #202020;
    background-color: #B2BEBF;
    width: 50%;
    min-width: 600px;
    border: none;
    border-bottom: 3px solid #BD2A2E;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 22px;
    margin-bottom: 35px;
    font-family: inherit;
    padding: 10px;
    transition: all 0.3s ease;
}

.campos:hover{
    background-color: white;
}

.campos:focus{
    background-color: white;
    outline: none;
}

#boton{
    border-radius: 3px;
    font-weight: 500;
    margin-top: 30px;
    border: none;
    background-color: #BD2A2E;
    color: #202020;
    font-family: inherit;
}

#boton:hover{
    transition: all 0.3s ease;
    background-color: #a02327;
}